.page {
  background-color: white;
}

.pageDiv {
  margin: 0 auto;
  max-width: 1000px;
}

.pageTitle {
  text-transform: uppercase;
  margin: 1em 0;
  letter-spacing: 2px;
  color: black;
  text-align: center;
}

.form {
  padding: 3em 3em 3.5em 3em;
  margin-bottom: 75px;
  box-shadow: 0 0.25rem 0.625rem 0 rgba(0, 0, 0, 0.08);
  border-radius: 4px;
  background-color: var(--secondary-color);
}

.forms {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
  margin-bottom: 18px;
}

.label {
  font-size: 18px;
  margin-bottom: 3px;
  letter-spacing: 0.5px;
}

.accept {
  font-size: 16px;
}

.button:hover {
  background-color: #007cba;
  border-color: #007cba;
  color: white;
}

.button {
  letter-spacing: 1.1px;
  border-width: 1.5px;
  text-transform: uppercase;
  font-weight: 500;
  line-height: 1;
  border-radius: 25px;
  padding-top: 13px;
  padding-right: 32px;
  padding-bottom: 13px;
  padding-left: 32px;
  font-size: 0.93em;
  margin-top: 2px;
  margin-top: 40px;
  font-size: 18px;
  width: 230px;
  color: #007cba;
  border-color: #007cba;
}

@media screen and (max-width: 768px) {
  .pageTitle {
    text-transform: uppercase;
    margin: 1em 0;
    letter-spacing: 2px;
    text-align: center;
  }

  .forms {
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    grid-gap: 0px;
  }

  .formGroup {
    margin-bottom: 1.7em;
  }

  .accept {
    margin-bottom: 1em;
  }
}
